.react-calendar {
  width: 280px;
  margin: auto;
  font-family: system-ui, sans-serif;
  /* border-radius: 8px; */
  color: white;
  background: none;
  border: none;
}

.react-calendar__navigation {
  /* background: #0e1f52; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 8px 8px 0 0; */
  height: 48px;
  padding: 0 16px;
  /* background: #0e1f52; */
  border: none;
  border-bottom: 2px solid #7a14ff;
}

.react-calendar__navigation button {
  min-width: 24px;
  font-size: 18px;
  color: white;
  background: none;
  border: none;
  transition: background-color 0.2s ease;
}

.react-calendar__navigation button:hover {
  padding: 2px 4px;
  background: #7c3aed;
  border-radius: 4px;
}

.react-calendar__navigation__label {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.2s ease;
}

.react-calendar__navigation__label:hover {
  padding: 4px 8px;
  background: #7c3aed;
  border-radius: 4px;
}

.react-calendar__month-view__weekdays {
  /* background: #0e1f52; */
  font-size: 12px;
  font-weight: bold;
  /* background: #0e1f52; */
  color: white;
  text-transform: uppercase;
}

.react-calendar__month-view__weekdays__weekday abbr {
  position: relative;
  font-size: 0;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.react-calendar__month-view__weekdays__weekday abbr::after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.react-calendar__tile {
  /* background: #0e1f52; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  color: white;
  /* background: #0e1f52; */
  border: none;
  transition: background-color 0.2s ease;
}

.react-calendar__tile:hover {
  background: #7c3aed;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background: #7c3aed;
}

.highlight-day {
  color: white;
  background: #a855f7;
  border-radius: 4px;
}

.react-calendar__tile--now {
  color: white;
  background: #a855f7;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: rgba(255, 255, 255, 0.3);
}

.react-calendar__month-view__weekdays__weekday:nth-child(1) abbr::after {
  content: "S";
} /* Sunday */
.react-calendar__month-view__weekdays__weekday:nth-child(2) abbr::after {
  content: "M";
} /* Monday */
.react-calendar__month-view__weekdays__weekday:nth-child(3) abbr::after {
  content: "T";
} /* Tuesday */
.react-calendar__month-view__weekdays__weekday:nth-child(4) abbr::after {
  content: "W";
} /* Wednesday */
.react-calendar__month-view__weekdays__weekday:nth-child(5) abbr::after {
  content: "T";
} /* Thursday */
.react-calendar__month-view__weekdays__weekday:nth-child(6) abbr::after {
  content: "F";
} /* Friday */
.react-calendar__month-view__weekdays__weekday:nth-child(7) abbr::after {
  content: "S";
} /* Saturday */
